main {
	padding: 8px;
}

.search-box {
	margin-bottom: 10px;
}

.search-box input {
	width: 100%;
	padding: 10px;
	border: 1px solid #123456;
}

.search-box button {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #f1f1f1;
}

.search-box button:hover {
	background-color: #ccc;
}
