.navtab {
	position: relative;
	width: 100%;
	border: 1px solid #888;
}

.navtab > nav {
	display: flex;
	border-bottom: 1px solid #888;
	background-color: #ccc;
}

.navtab > nav button {
	display: block;
	padding: 10px 16px;
	cursor: pointer;
	background-color: #f1f1f1;
}

.navtab > nav button.active {
	background-color: #ccc;
}

.navtab > nav button:hover {
	background-color: #ccc;
}

.navtab .tabs {
	position: relative;
	padding: 10px;
}

.navtab .tabs > .tab {
	position: relative;
	display: none;
}

.navtab .tabs > .tab.active {
	display: block;
}
