<!DOCTYPE html>
<html>
<head>
	<title>Scans !!</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/lib/ini.css" />
	<link rel="stylesheet" type="text/css" href="/css/lib/grid.css" />
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	<link rel="stylesheet" type="text/css" href="/css/navtab.css" />
	<script src="/js/jquery.js"></script>
	<script src="/js/index.js"></script>
</head>
<body>
	<!-- nav bar here -->
	<main>
		<div class="row search-box">
			<div class="col-10">
				<input type="text" placeholder="Host1, Host2, ..." />
			</div>
			<div class="col-2">
				<button>Scan</button>
			</div>
		</div>
		<div class="navtab">
			<nav>
				<button data-target="#tab1" class="active">localhost</button>
				<button data-target="#tab2">127.0.0.1</button>
			</nav>
			<div class="tabs">
				<section id="tab1" class="tab active">
					<div id="data"></div>
					<div class="infos">
						<div><h1>Localhost</h1></div>
						<div><span>status: up</span></div>
						<div class="items">
							<div class="item">
								<span>address: 127.0.0.1</span>
								<span>type: ipv4</span>
							</div>
						</div>
						<div class="items">
							<div class="item">
								<span>Hostname: localhost</span>
								<span>type: user</span>
							</div>
							<div class="item">
								<span>Hostname: localhost</span>
								<span>type: PTR</span>
							</div>
						</div>
						<div class="items">
							<div class="item">
								<span>portid: 80</span>
								<span>protocol: http</span>
							</div>
						</div>
					</div>
				</section>
				<section id="tab2" class="tab">
					Tab 2
				</section>
			</div>
		</div>
	</main>
</body>
</html>
